<div class="row">
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/health.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HealthCare</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="healthcare.html" class="btn btn-primary">About More</a>
          </div>
        </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/Aeronautical.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aeronautical</h5>
            <p class="card-text">Some quick example text to build on the card title and content.</p>
            <a href="aeronautical.html" class="btn btn-primary">About More</a>
          </div>
        </div>
  </div>
  <div class="col"><div class="card" style="width: 18rem;">
      <img src="../../../assets/Banking and Finance.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Banking and Finance</h5>
        <p class="card-text">Some quick example text to build on the card title and make  make up the bulk of the card's content.</p>
        <a href="banking and finance.html" class="btn btn-primary">About More</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/Mobility.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mobility</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="mobility.html" class="btn btn-primary">About More</a>
          </div>
        </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/GIS.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GIS</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="gis.html" class="btn btn-primary">About More</a>
          </div>
        </div>
  </div>
  <div class="col"><div class="card" style="width: 18rem;">
      <img src="../../../assets/Insurance.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Insurance</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="insurence.html" class="btn btn-primary">About More</a>
      </div>
    </div>
  </div>
</div>